<div class="container text-center" >
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive 
    community for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, inventore numquam nostrum optio veniam odio perferendis omnis, temporibus, sit rem distinctio vitae dolore exercitationem! Culpa placeat officiis, odit eaque officia.
    </p>
</div>